<!-- {% for item in cart_items %}
<div class="cart-item">
    <img src="{{ item.image }}" alt="{{ item.name }}">
    <p>{{ item.name }} - ${{ item.price }}</p>
    <div class="quantity-buttons">
        <button class="decrement-button" data-index="{{ loop.index0 }}">-</button>
        <input type="number" min="0" value="{{ item.quantity }}" class="quantity-input" data-index="{{ loop.index }}">
        <button class="increment-button" data-index="{{ loop.index }}">+</button>
        <button class="remove-item-button" data-index="{{ loop.index }}">Remove from cart</button>
    </div>
</div>
{% endfor %} -->