{% extends "base.html" %}

{% block title %}Menu{% endblock %}

{% block page_content %}
<style>
    h1 {
        text-align: center;
        font-size: 2.5vw; /* Adjusted font size */
        padding-bottom: 1.5vw; /* Adjusted padding */
        border-bottom-color: rgba(255, 255, 255, 0.322);
        border-bottom-style: groove;
        font-weight: 400;
    }

    .menu-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjusted grid */
        gap: 1.5vw; /* Adjusted gap */
        justify-items: center;
    }

    .menu-item {
        margin-bottom: 1.5vw; /* Adjusted margin */
        text-align: center;
        font-weight: bold;
        color: #4CAF50;
    }

    .menu-item img {
        max-width: 60%; /* Adjusted width */
        max-height: 60%; /* Adjusted height */
        width: auto;
        height: auto;
        border: 2px solid #4CAF50;
        border-radius: 5px;
    }


    .pagination-item {
    cursor: pointer;
    font-weight: 400;
    font-size: 2vw; /* Adjusted font size */
    margin: 0 1vw; /* Adjusted margin */
    padding: 0.8vw 2vw; /* Adjusted padding */
    color: tomato; /* Text color similar to 'Order' button */
    background-color: transparent;
    border: 2px solid tomato; /* Border color similar to 'Order' button */
    border-radius: 3%; /* Border radius similar to 'Order' button */
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    }

    .pagination-item:hover,
    .pagination-link:hover {
        background-color: tomato; /* Background color on hover similar to 'Order' button */
        color: white; /* Text color on hover similar to 'Order' button */
    }

    .pagination-item.active,
    .pagination-link.active {
        background-color: tomato; /* Background color for active page similar to 'Order' button */
        color: white; /* Text color for active page similar to 'Order' button */
    }



    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 2vw; /* Adjusted margin */
    }


    .add-to-cart-btn {
        background-color: #4CAF50;
        color: white;
        padding: 1vw 2vw; /* Adjusted padding */
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .add-to-cart-btn:hover {
        background-color: #45a049;
    }

    .cart-status {
        text-align: center;
        font-size: 2vw; /* Adjusted font size */
        font-weight: 300;
        margin-top: 1.5vw; /* Adjusted margin */
        margin-bottom: 3vw;
    }

    #cart-count {
        font-weight: bold;
        font-style: italic;
        color: red;
        font-size: 2.5vw; /* Adjusted font size */
    }

    .notification-popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #4CAF50;
        color: white;
        text-align: center;
        padding: 1.2vw; /* Adjusted padding */
        border-radius: 10px;
        z-index: 1;
        width: 30vw; /* Adjusted width */
        max-width: 80%;
    }

    .buttons {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 1.5vw; /* Adjusted padding */
        padding-right: 3vw; /* Adjusted padding */
        position: fixed;
        bottom: 50%;
        right: 3%;
        background-color: transparent;
    }

    .order-button {
        font-weight: 400;
        font-size: 2vw; /* Adjusted font size */
        font-style: italic;
        padding: 0.8vw 3vw; /* Adjusted padding */
        color: tomato;
        background-color: transparent;
        border: 2px solid tomato;
        border-radius: 3%;
        transition: background-color 0.3s, color 0.3s;
    }

    .order-button:hover {
        text-decoration: none;
        background-color: tomato;
        color: white;
    }

    @media screen and (max-width: 768px) {
        .menu-grid {
            grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Adjusted grid */
        }

        .menu-item img {
            max-width: 50%; /* Adjusted width */
            max-height: 50%; /* Adjusted height */
        }

        .pagination-link {
            font-size: 3vw; /* Adjusted font size for smaller screens */
            padding: 1vw 3vw; /* Adjusted padding for smaller screens */
            margin: 0 0.5vw; /* Adjusted margin */
        }

        .cart-status {
            font-size: 1.5vw; /* Adjusted font size */
            margin-top: 1vw; /* Adjusted margin */
            margin-bottom: 2vw; /* Adjusted margin */
        }

        #cart-count {
            font-size: 2vw; /* Adjusted font size */
        }

        .notification-popup {
            padding: 1.2vw; /* Adjusted padding */
            width: 60vw; /* Adjusted width */
        }

        .buttons {
            padding-bottom: 1vw; /* Adjusted padding */
            padding-right: 2vw; /* Adjusted padding */
        }

        .order-button {
            font-size: 3vw; /* Adjusted font size for smaller screens */
            padding: 1vw 4vw; /* Adjusted padding for smaller screens */
        }
    }
</style>


<h1>Menu:</h1>

<div class="cart-status">
    <p>Your cart: <span id="cart-count"></span> items</p>
</div>

<div id="menu-list"></div>

<ul class="pagination" id="pagination">
</ul>

<div class="buttons">
    <a href="{{ url_for('main.cart') }}" class="order-button">ORDER <span>&#10145;</span></a>
</div>

<div id="notification-popup" class="notification-popup">
    Item has been added to your order
</div>

<form id="order-form" action="{{ url_for('main.order_confirmation') }}" method="POST">
    <input type="hidden" id="cart-items" name="cart_items" value="">
</form>

<script>
    const menuData = [
        { name: "Appetizer 1", image: "/static/Appetizer-Tortilla-Pinwheels_EXPS_HCA17_8166_B12_15_4b-3.jpg", price: 5.99 },
        { name: "Appetizer 2", image: "/static/Cucumber-Shrimp-Appetizers-Square-1200-1.jpg", price: 5.99 },
        { name: "Main Course 1", image: "/static/Rogan-Josh-1190644860.jpg", price: 5.99 },
        { name: "Main Course 2", image: "/static/SARCIADONG-ISDA-Filipino-fish-dish-IMG2.jpg.webp", price: 5.99 },
        { name: "Dessert 1", image: "/static/tiramisu-dessert-easy-vegan.jpg.webp", price: 5.99 },
        { name: "Dessert 2", image: "/static/easy-no-bake-desserts-645d1b63913ee.jpg", price: 5.99 },
        { name: "Drinks 1", image: "/static/featured-starbucks-pink-drink-recipe.jpg", price: 5.99 },
        { name: "Drinks 2", image: "/static/Strawberry-Water-006.webp", price: 5.99 }
    ];

    const itemsPerPage = 4;
    let currentPage = 1;
    let cartItems = JSON.parse(localStorage.getItem('cart')) || [];

    function getTotalQuantity() {
        let totalQuantity = 0;
        cartItems.forEach(item => {
            if (item && item.quantity != null) {
                totalQuantity += item.quantity;
            }
        });
        return totalQuantity;
    }

    function addProductToCart(index) {
        if (typeof index === 'number' && index >= 0 && index < menuData.length) {
            const item = menuData[index];
            const existingItemIndex = cartItems.findIndex(cartItem => cartItem && cartItem.name === item.name);
            if (existingItemIndex !== -1) {
                cartItems[existingItemIndex].quantity++;
            } else {
                cartItems.push({ ...item, quantity: 1 });
            }
            localStorage.setItem('cart', JSON.stringify(cartItems));
            updateCartCount();
            showNotificationPopup();

        } else {
            console.error("Invalid index:", index);
        }
    }

    function onPageClick(page) {
        currentPage = page;
        displayMenu(currentPage);
    }

    function displayMenu(page) {
        const menuList = document.getElementById('menu-list');
        const pagination = document.getElementById('pagination');

        menuList.innerHTML = '';
        pagination.innerHTML = '';

        const startIndex = (page - 1) * itemsPerPage;
        const endIndex = startIndex + itemsPerPage;
        const displayedItems = menuData.slice(startIndex, endIndex);

        const numColumns = Math.ceil(Math.sqrt(itemsPerPage));

        const gridContainer = document.createElement('div');
        gridContainer.className = 'menu-grid';
        gridContainer.style.gridTemplateColumns = `repeat(${numColumns}, 1fr)`;

        displayedItems.forEach((item, index) => {
            const menuItem = document.createElement('div');
            menuItem.className = 'menu-item';

            const itemImage = document.createElement('img');
            itemImage.src = item.image;
            itemImage.alt = item.name;

            const itemName = document.createElement('p');
            itemName.textContent = `${item.name} - $${item.price}`;

            const addToCartButton = document.createElement('button');
            addToCartButton.textContent = 'Add to Cart';
            addToCartButton.className = 'add-to-cart-btn';
            addToCartButton.addEventListener('click', () => {
                addProductToCart(startIndex + index);
            });

            menuItem.appendChild(itemImage);
            menuItem.appendChild(itemName);
            menuItem.appendChild(addToCartButton);

            gridContainer.appendChild(menuItem);
        });

        menuList.appendChild(gridContainer);

        const totalPages = Math.ceil(menuData.length / itemsPerPage);

        for (let i = 1; i <= totalPages; i++) {
            const pageItem = document.createElement('li');
            pageItem.textContent = i;
            pageItem.className = 'pagination-item'; 
            pageItem.addEventListener('click', () => onPageClick(i));
            pagination.appendChild(pageItem);
        }
    }


    document.addEventListener('DOMContentLoaded', function() {
        const currentPage = {{ page_number|default(1) }};
        cartItems = JSON.parse(localStorage.getItem('cart')) || [];
        displayMenu(currentPage);
        updateCartCount();
    });

    function updateCartCount() {
        const cartCountElement = document.getElementById('cart-count');
        cartCountElement.textContent = getTotalQuantity();
    }
</script>

{% endblock %}
