{% import "bootstrap4/form.html" as wtf %}

<!-- {% block title %}RMS{% endblock %} -->

{% block head %}

<!-- <script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app.js"></script> -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->

<style>
    body {
        background-image: url("{{ url_for('static', filename='website_bg.jpg') }}");
        background-size: cover;
    }

    .container {
        background: linear-gradient(180deg, #202020 0%, rgba(217, 217, 217, 0) 300%);
        color: rgb(163, 50, 50);
    }

    .cart-notification {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #4CAF50;
        color: white;
        border-radius: 50%;
        padding: 5px 10px;
        font-size: 12px;
    }

    .navbar {
        font-size: 16px;
    }

    .navbar-brand {
        font-size: 25px;
    }
</style>
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: transparent;">
    <div class="container">
      <a class="navbar-brand">RMS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          {% if not current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.menu') }}">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.cart') }}">Cart</a>
          </li>
          {% endif %}
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.dashboard', username=current_user.username) }}">DASHBOARD</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.previous_orders', username=current_user.username) }}">Previous Orders</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{{ url_for('auth.change_password') }}">Change Password</a></li>
              <li><a class="dropdown-item" href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log Out</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}



{% block scripts %}
<!-- <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script> -->
<!-- <script src="index.js"></script> -->
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> -->

{{ moment.include_moment() }}
{% endblock %}
