{% import "bootstrap4/form.html" as wtf %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RMS{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="manifest" href="gs://rms-pwa-f5c66.appspot.com/manifest.json">

    <link rel="shortcut icon" href="gs://rms-pwa-f5c66.appspot.com/favicon1.png" type="image/x-icon">
    <link rel="icon" href="gs://rms-pwa-f5c66.appspot.com/favicon1.pngg" type="image/x-icon">
</head>

<script>
  if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js')
              .then(registration => {
                  console.log('Service Worker registered:', registration);
              })
              .catch(error => {
                  console.error('Service Worker registration failed:', error);
              });
      });
  }
</script>

<style>
    body {
        background-image: url("{{ url_for('static', filename='web-background.jpg') }}");
        background-size: cover;
    } 

    .container {
        background: linear-gradient(180deg, #202020 0%, rgba(217, 217, 217, 0) 300%);
        color: rgb(163, 50, 50);
    }

    .navbar {
        font-size: 16px;
    }

    .navbar-brand {
        font-size: 25px;
    }

    .navbar-brand img {
      max-width: 25vw;
      max-height: 12.5vh;
    }
</style>
<body>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: transparent;">
  <div class="container">
    <div style="text-align: center;">
      <a class="navbar-brand" href="{{ url_for('main.RMS_index') }}">
        <img src="https://firebasestorage.googleapis.com/v0/b/rms-pwa-f5c66.appspot.com/o/logo_navbar.png?alt=media&token=3ada3050-567c-48d4-8739-cc2a8a4c3c49" class="img-fluid" alt="RMS" style="max-width: 25vw; max-height: 12.5vh;">
      </a>
    </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          {% if not current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.menu') }}">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.cart') }}">Cart</a>
          </li>
          {% endif %}
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.dashboard', username=current_user.username) }}">DASHBOARD</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.chat', username=current_user.username) }}">Chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.previous_orders', username=current_user.username) }}">Previous Orders</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{{ url_for('auth.change_password') }}">Change Password</a></li>
              <li><a class="dropdown-item" href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log Out</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>



{% block scripts %}

{{ moment.include_moment() }}
{% endblock %}
</body>
</html>