{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Dashboard{% endblock %}

{% block page_content %}

<style>
    .orders table {
    border-collapse: collapse;
    width: 100%;
  }

  .orders th, .orders td {
      padding: 12px;
      border: 1px solid #ddd;
      text-align: left;
  }

  .orders th {
      background-color: #f2f2f2;
  }

  .order-selector {
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
  }

  .order-selector[type="checkbox"]:checked + td {
      opacity: 0;
  }

  .fade-out {
      animation: fadeOut 1s ease-in-out forwards;
  }

  @keyframes fadeOut {
      from {
          opacity: 1;
      }
      to {
          opacity: 0;
          visibility: hidden;
      }
  }

  .orders td:nth-child(2) {
      font-weight: bold;
  }

  .orders td:nth-child(3) {
      font-style: italic;
      color: #007bff;
  }

</style>

<div class="page-header">
  <h1>Have a nice shift, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
</div>

<div class="orders">
  <h2>Current orders:</h2>
    <br>
    <table>
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Items</th>
          <th>Select</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
            {% if order['items'] %}
            <tr>
                <td>{{ order.id }}</td>
                <td>
                    <ul>
                        {% for item in order['items'] %}
                        <li>{{ item['productName'] }}, {{ item['quantity'] }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td><input type="checkbox" class="order-selector"></td>
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>    
    </table>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      const orderSelectors = document.querySelectorAll('.order-selector');
      orderSelectors.forEach(function(selector) {
          selector.addEventListener('change', function() {
              const row = selector.closest('tr');
              if (selector.checked) {
                  row.classList.add('fade-out');
              } else {
                  row.classList.remove('fade-out');
              }
          });
      });
  });
</script>

{% endblock %}
