{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Dashboard{% endblock %}

{% block page_content %}

<style>
    h2 {
      font-size: 3rem;
      font-style: italic;
      color: white;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .page-header {
        text-align: center;
        margin-bottom: 2rem;
    }

    .orders {
        text-align: center;
        margin: 0 auto;
        width: 80%;
        padding: 1rem;
    }

    .orders table {
        border-collapse: collapse;
        border: 1px solid #ddd;
        width: 100%;
        margin-bottom: 5%;
    }

    .orders th, .orders td {
        padding: 8px;
        border: 1px solid #ddd;
        text-align: left;
    }

    .orders th {
        background-color: #f2f2f2;
    }

    .done-selector {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }

    .done-selector[type="checkbox"]:checked + td {
        opacity: 0;
    }

    .page-header h1 {
        font-size: 2rem;
        font-style: italic;
        color: #007bff;
        margin-bottom: 1rem;
    }
</style>

<div class="page-header">
  <h1>Have a nice shift, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
</div>

<div class="orders">
  <h2>Current orders:</h2>
    <br>
    <table>
      <thead>
        <tr>
          <th><input type="checkbox" class="select-all"></th>
          <th>Order ID</th>
          <th>Items</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr>
          <td><input type="checkbox" class="done-selector"></td>
          <td>{{ order.id }}</td>
          {% if order.items %}
            {% for item in order.items %}
              <td>{{ item }}</td>
            {% endfor %}
          {% else %}
            <td>No items</td>
          {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>

  <script>
    const selectAllCheckbox = document.querySelector('.select-all');
    const doneCheckboxes = document.querySelectorAll('.done-selector');

    selectAllCheckbox.addEventListener('change', (event) => {
      const isChecked = event.target.checked;
      doneCheckboxes.forEach(checkbox => checkbox.checked = isChecked);
    });

    doneCheckboxes.forEach(checkbox => {
      checkbox.addEventListener('change', (event) => {
      const row = event.target.parentElement.parentElement;
      row.classList.toggle('done');
    });
  });
  </script>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
