{% extends "base.html" %}

{% block title %}Menu{% endblock %}

{% block page_content %}
<style>
    h1 {
        display: flexbox;
        text-align: center;
        font-size: 50px;
        font-weight: 400;
        font-style: italic;
        padding-bottom: 20px;
        border-bottom-color: rgba(255, 255, 255, 0.322);
        border-bottom-style: groove;
    }

    .menu-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        justify-items: center;
    }

    .menu-item {
        margin-bottom: 20px;
        text-align: center;
        font-weight: bold;
        color: #4CAF50;
    }

    .menu-item img {
        max-width: 70%;
        max-height: 70%;
        width: auto;
        height: auto;
        border: 2px solid #4CAF50;
        border-radius: 5px;
    }

    .pagination {
        display: flex;
        justify-content: center;
    }

    .pagination-link {
        cursor: pointer;
        font-weight: bold;
        font-size: 24px;
        margin: 0 5px;
        padding: 8px 12px;
        background-color: #4CAF50;
        color: white;
        border: 2px solid #4CAF50;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s;
    }

    .pagination-link:hover {
        background-color: #45a049;
        border-color: #45a049;
    }

    .pagination-link.active {
        background-color: #45a049;
        border-color: #45a049;
    }



    .add-to-cart-btn {
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .cart-status {
        text-align: center;
        font-size: 25px;
        font-weight: 300;
        margin-top: 2%;
        margin-bottom: 8%;
    }

    #cart-count {
        font-weight: bold;
        font-style: italic;
        color: red;
        font-size: 30px;
    }

    .notification-popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #4CAF50;
        color: white;
        text-align: center;
        padding: 16px;
        border-radius: 10px;
        z-index: 1;
        width: 300px;
        max-width: 80%;
    }

    .buttons {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 15px;
        padding-right: 60px;
        position: fixed;
        bottom: 0;
        right: 0;
        background-color: transparent;
        /* z-index: 1000; */
    }

    .button {
        font-weight: 400;
        font-size: 30px;
        padding: 12px 50px;
        color: red;
        background-color: transparent;
        text-decoration: none;
        transition: background-color 0.3s;
    }

    .button:hover {
        color: rgb(0, 255, 0);
        text-decoration: none;
    }

    
</style>

<h1>Menu:</h1>

<div class="cart-status">
    <p>Your cart: <span id="cart-count"></span> items</p>
</div>

<div id="menu-list"></div>

<ul class="pagination" id="pagination"></ul>

<div class="buttons">
    <a href="{{ url_for('main.cart') }}" class="button">ORDER <span>&#10145;</span></a>
</div>

<div id="notification-popup" class="notification-popup">
    Item has been added to your order
</div>

<form id="order-form" action="{{ url_for('main.order_confirmation') }}" method="POST">
    <input type="hidden" id="cart-items" name="cart_items" value="">
</form>



<script>
    const menuData = [
        { name: "Appetizer 1", image: "/static/Appetizer-Tortilla-Pinwheels_EXPS_HCA17_8166_B12_15_4b-3.jpg", price: 5.99 },
        { name: "Appetizer 2", image: "/static/Cucumber-Shrimp-Appetizers-Square-1200-1.jpg", price: 5.99 },
        { name: "Main Course 1", image: "/static/Rogan-Josh-1190644860.jpg", price: 5.99 },
        { name: "Main Course 2", image: "/static/SARCIADONG-ISDA-Filipino-fish-dish-IMG2.jpg.webp", price: 5.99 },
        { name: "Dessert 1", image: "/static/tiramisu-dessert-easy-vegan.jpg.webp", price: 5.99 },
        { name: "Dessert 2", image: "/static/easy-no-bake-desserts-645d1b63913ee.jpg", price: 5.99 },
        { name: "Drinks 1", image: "/static/featured-starbucks-pink-drink-recipe.jpg", price: 5.99 },
        { name: "Drinks 2", image: "/static/Strawberry-Water-006.webp", price: 5.99 }
    ];

    const itemsPerPage = 4;
    let currentPage = 1;
    let cartItems = JSON.parse(localStorage.getItem('cart')) || [];

    function getTotalQuantity() {
        let totalQuantity = 0;
        cartItems.forEach(item => {
            if (item && item.quantity != null) {
                totalQuantity += item.quantity;
            }
        });
        return totalQuantity;
    }

    function addProductToCart(index) {
        if (typeof index === 'number' && index >= 0 && index < menuData.length) {
            const item = menuData[index];
            const existingItemIndex = cartItems.findIndex(cartItem => cartItem && cartItem.name === item.name);
            if (existingItemIndex !== -1) {
                cartItems[existingItemIndex].quantity++;
            } else {
                cartItems.push({ ...item, quantity: 1 });
            }
            localStorage.setItem('cart', JSON.stringify(cartItems));
            updateCartCount();
            showNotificationPopup();
        } else {
            console.error("Invalid index:", index);
        }
    }

    function onPageClick(page) {
        currentPage = page;
        displayMenu(currentPage);
        setupPagination();
    }

    function displayMenu(page) {
        const menuList = document.getElementById('menu-list');
        const pagination = document.getElementById('pagination');

        menuList.innerHTML = '';
        pagination.innerHTML = '';

        const startIndex = (page - 1) * itemsPerPage;
        const endIndex = startIndex + itemsPerPage;
        const displayedItems = menuData.slice(startIndex, endIndex);

        // Calculate the number of columns based on the itemsPerPage
        const numColumns = Math.ceil(Math.sqrt(itemsPerPage));

        // Create a container for the grid
        const gridContainer = document.createElement('div');
        gridContainer.className = 'menu-grid';
        gridContainer.style.gridTemplateColumns = `repeat(${numColumns}, 1fr)`;

        displayedItems.forEach((item, index) => {
            const menuItem = document.createElement('div');
            menuItem.className = 'menu-item';

            const itemImage = document.createElement('img');
            itemImage.src = item.image;
            itemImage.alt = item.name;

            const itemName = document.createElement('p');
            itemName.textContent = `${item.name} - $${item.price}`;

            const addToCartButton = document.createElement('button');
            addToCartButton.textContent = 'Add to Cart';
            addToCartButton.addEventListener('click', () => addProductToCart(startIndex + index));

            menuItem.appendChild(itemImage);
            menuItem.appendChild(itemName);
            menuItem.appendChild(addToCartButton);

            // Append each menu item to the grid container
            gridContainer.appendChild(menuItem);
        });

        // Append the grid container to the menu list
        menuList.appendChild(gridContainer);

        const totalPages = Math.ceil(menuData.length / itemsPerPage);

        for (let i = 1; i <= totalPages; i++) {
            const pageItem = document.createElement('li');
            pageItem.textContent = i;
            pageItem.addEventListener('click', () => onPageClick(i));
            pagination.appendChild(pageItem);
        }
    }



    function setupPagination() {
        const totalPages = Math.ceil(menuData.length / itemsPerPage);
        const pagination = document.getElementById('pagination');
        pagination.innerHTML = '';
        for (let i = 1; i <= totalPages; i++) {
            const pageItem = document.createElement('li');
            const pageLink = document.createElement('a');
            pageLink.textContent = i;
            pageLink.href = `/menu?page=${i}`;
            pageLink.className = 'pagination-link';
            pageItem.appendChild(pageLink);
            if (i === currentPage) {
                pageItem.classList.add('active');
            }
            pageItem.addEventListener('click', () => {
                currentPage = i;
                displayMenu(currentPage);
                setupPagination();
            });
            pagination.appendChild(pageItem);
        }
    }



    function showNotificationPopup() {
        const popup = document.getElementById('notification-popup');
        popup.style.display = 'block';
        setTimeout(() => {
            popup.style.display = 'none';
        }, 2000);
    }

    document.addEventListener('DOMContentLoaded', function() {
        const currentPage = {{ page_number|default(1) }};
        cartItems = JSON.parse(localStorage.getItem('cart')) || [];
        displayMenu(currentPage);
        setupPagination();
        updateCartCount();
    });

    function updateCartCount() {
        const cartCountElement = document.getElementById('cart-count');
        cartCountElement.textContent = getTotalQuantity();
    }
</script>

{% endblock %}
