{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Finish your order{% endblock %}

{% block page_content %}
    <style>
        #paypal-button-container {
            display: grid;
            padding-top: 20px;
        }

        #pay-button {
            background-color: #4CAF50;
            color: white;
            padding: 8px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
            font-weight: 400;
            font-size: 26px;
        }

        #pay-button:hover {
            color: red;
        }

        #pay-button:disabled {
            background-color: #ccc;
            color: #333;
            cursor: not-allowed;
        }

        #pay-button:hover:disabled {
            color: #333;
        }

        .col-md-4 {
            display: grid;
            padding: 10px;
            align-items: center;
            justify-content: center;
        }

        .center-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h1 {
            text-align: center;
            padding-bottom: 20px;
            border-bottom-color: rgba(255, 255, 255, 0.322);
            border-bottom-style: groove;
            font-weight: 380;
            font-size: 40px;
            width: 475px;
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            padding-bottom: 15px;
            padding-right: 60px;
            padding-left: 60px;
            position: fixed;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: transparent; 
            z-index: 1000;
        }

        .button {
            font-weight: 400;
            font-size: 30px;
            padding: 12px 50px;
            color: white;
            /* background-color: black; */
            text-decoration: none;
            transition: background-color 0.3s;  
        }

        .button:hover {
            /* background-color: #333;   */
            color: red;  
            text-decoration: none;
        }

        #order-form {
            color: rgba(255, 255, 255, 0.686);
            font-style: italic;
            font-size: 16px;
            padding: 4%;
        }

    </style>

    <script src="https://www.paypal.com/sdk/js?client-id=AbJITLKvPRfdT6Y3Lcd7VLNLfa45bS8WQWQ7F3_Wq6WJTPlzqZMajdvoAfLuQxps1GJhdNGLAPBNG0_Z&currency=USD"></script>

    <div class="center-container">
        <div class="col-md-4 mx-auto">
            <h1>Help us handle the delivery:</h1>
            <br>
            {{ wtf.quick_form(form, id='order-form') }}
            <button type="submit" id="pay-button" onclick="startPayPalTransaction()" disabled>Pay ${{ total_amount }} (PayPal)</button>
            <div id="paypal-button-container"></div>
        </div>
    </div>

    <div class="buttons">
        <a href="{{ url_for('main.cart') }}" class="button" ><span>&#8678;</span> BACK TO CART</a>
    </div>

    <script>

        let paypalButtonClicked = false;

        function startPayPalTransaction() {
            if (paypalButtonClicked) {
                return;
            }

            paypalButtonClicked = true;

            let totalAmount = ('{{ total_amount }}');
            if (!totalAmount) {
                console.error('Total amount not found.');
                return;
            }
            paypal.Buttons({
                createOrder: function (data, actions) {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: totalAmount,
                                currency_code: 'USD'
                            }
                        }]
                    });
                },
                onApprove: function (data, actions) {
                    alert('Payment completed successfully!');

                },
                onError: function (err) {
                    console.error('Error:', err);
                    alert('There was an error processing the payment. Please try again.');
                }
            }).render('#paypal-button-container');
        }

        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('order-form');
            const payButton = document.getElementById('pay-button');

            form.addEventListener('input', function () {
                payButton.disabled = !form.checkValidity();
            });

            payButton.disabled = !form.checkValidity();
        });
    </script>

{% endblock %}
