{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}RMS - Home{% endblock %}

{% block page_content %}

<style>
    .page-header {
        text-align: center;
    }

    .start-btns {
        display: inline-block;
        text-align: center;
        background-color: red;
        padding: 10px;
        color: white;
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
        width: auto;
    }
</style>

<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
    <br>
    <a href="{{ url_for('auth.login') }}" class="start-btns">Log in</a>
    <a href="{{ url_for('auth.register') }}" class="start-btns">Register</a>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}